
.content {
    display: flex;
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
}

.divider {
    border-width: 2px;
    background-color: rgb(155, 63, 242);
    margin: 15px 0px
}

span {
    color: rgb(189, 187, 187);
}