

.goBack {
    position: absolute;
    top: 2px;
    right: 2px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: linear-gradient(#3e5174, #5478a1);
}

.btn {
    width: 80%;
    border-radius: 15px;
    background-color: black;
    color: white;
}
