
<div class="contents">
    <div class="col content img-back"></div>
    <div style="width: 5vh;  
                background-color: black;
                padding: 25px;
    ">
        <div style="width: 1px;
                    height: 100%; 
                    background-color: #db1515;
        "></div>
    </div>
    <div class="col content" style="padding: 30px;">
        <a class="btn-content" [routerLink]="['/app/marvel/characters']">
            <div class="col-sm-3 g-c text-center" style="background-color: #720606;">
                <img src="/assets/marvel/characters.png" width="55px" height="55px" alt="">
            </div>
            <div class="col-sm-6 g-c text-center">
                <span class="h6 mt-2">C H A R A C T E R S</span>
            </div>  
            <div class="col-sm-3 g-c text-center">
                <mat-icon>chevron_right</mat-icon>
            </div>
        </a>
        <a class="btn-content" [routerLink]="['/app/marvel/comics']">
            <div class="col-sm-3 g-c text-center" style="background-color: #720606;">
                <img src="/assets/marvel/comics.png" width="55px" height="55px" alt="">
            </div>
            <div class="col-sm-6 g-c text-center">
                <span class="h6 mt-2">C O M I C S</span>
            </div>  
            <div class="col-sm-3 g-c text-center">
                <mat-icon>chevron_right</mat-icon>
            </div>
        </a>
        <a class="btn-content" [routerLink]="['/app/marvel/creators']">
            <div class="col-sm-3 g-c text-center" style="background-color: #720606;">
                <img src="/assets/marvel/creators.png" width="55px" height="55px" alt="">
            </div>
            <div class="col-sm-6 g-c text-center">
                <span class="h6 mt-2">C R E A T O R S</span>
            </div>  
            <div class="col-sm-3 g-c text-center">
                <mat-icon>chevron_right</mat-icon>
            </div>
        </a>
        <a class="btn-content" [routerLink]="['/app/marvel/events']">
            <div class="col-sm-3 g-c text-center" style="background-color: #720606;">
                <img src="/assets/marvel/events.png" width="55px" height="55px" alt="">
            </div>
            <div class="col-sm-6 g-c text-center">
                <span class="h6 mt-2">E V E N T S</span>
            </div>  
            <div class="col-sm-3 g-c text-center">
                <mat-icon>chevron_right</mat-icon>
            </div>
        </a>
        <a class="btn-content" [routerLink]="['/app/marvel/series']">
            <div class="col-sm-3 g-c text-center" style="background-color: #720606;">
                <img src="/assets/marvel/series.png" width="55px" height="55px" alt="">
            </div>
            <div class="col-sm-6 g-c text-center">
                <span class="h6 mt-2">S E R I E S</span>
            </div>  
            <div class="col-sm-3 g-c text-center">
                <mat-icon>chevron_right</mat-icon>
            </div>
        </a>
        <a class="btn-content" [routerLink]="['/app/marvel/stories']">
            <div class="col-sm-3 g-c text-center" style="background-color: #720606;">
                <img src="/assets/marvel/stories.png" width="55px" height="55px" alt="">
            </div>
            <div class="col-sm-6 g-c text-center">
                <span class="h6 mt-2">S T O R I E S</span>
            </div>  
            <div class="col-sm-3 g-c text-center">
                <mat-icon>chevron_right</mat-icon>
            </div>
        </a>
    </div>
</div>
