
.content {
    display: flex;
    width: 100%;
    padding: 15px;
    gap: 20px;
}

.bg-form {
    background-color: rgb(155, 63, 242);
}

img {
    width: 100%;
}

.contents {
    width: 50%;
}

button {
    margin-top: 80px;
}