
.t { color: #4fa4f4; }

.a { color: #711be0; }

.icon {
    position: relative;
    top: 4px;
    margin-right: 5px;
}

.sidenav {
    width: 200px;
}

.img-b {
    border-radius: 25px;
    border: 2px solid #711BE0;
}

.userText {
    font-size: 12px;
}

.name {
    position: relative;
    top: 12px;
}